.box {
  min-width: 30px;
  min-height: 30px;
  border-radius: 20%;
  position: relative;
  display: flex;
  align-items: center;
}
.box .icon {
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
